<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_heather">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.jpg" alt="Niraj" class="img-fluid" title="Niraj Satani">
                        </figure>
                        
                        <p>Welcome to Niraj Satani World</p>
                        <h2>{{errorMsg}}</h2>
                        <a href="/"><button>Go Back</button></a>

                    </div>    
                </div>
            </div>
        </div>
    </div>
    <!--footer code-->
      <footer style="margin-bottom:1px;">
        <p>Created With Love by Niraj</p>
      </footer>
    
</body>
</html>