<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_heather">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.JPG" alt="Niraj" class="img-fluid" title="Niraj Satani">
                        </figure>
                        
                    </div>
                     <!--right side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h2>I Am A <span class="text_clr"> Web Developer </span> Hard and Smart Worker.</h2>
                        <a href="http://127.0.0.1:5500/index.html" target="_blank"><button>About Me</button></a>

                    </div>
                   
                    
                </div>

            </div>
        </div>
    </div>
    <!--footer code-->
        {{>footer}}
    
</body>
</html>
