@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Piazzolla", serif;
}

:root{
    --main-bg: #1e272e;
    --main-color: #0097e6;
}

html {
    font-size: 95%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row{
    margin: 0;
}

.main_menu{
    background-color: var(--main-bg);
}

.navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 20px;
}

.navbar li{
    margin-left: 20px;
}

.navbar a{
    color: #fff;
    font-size: 18px;
}

.navbar :hover{
    color: var(--main-color);
}


.navbar-toggler{
    background-color: aliceblue;
}

.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-color);
}

@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* main header */

.main_header_left{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p{
    font-size: 20px;
}

.main_header_left h2{
    font-size: 30px;
    margin: 10px 0 40px 0;
    text-transform: capitalize;
}

.main_header_left .text_clr{
    color: var(--main-color);
}

.main_header_left button{
    border: none;
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
}

.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}

.main_header_right{
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_right figure img {
    box-shadow: 0 10px 8px -6px var(--main-color);
}

/* temp input fields style code */

.temp_form{

    width: 60%;
    position: relative;
    margin: 50px auto 20px;
}

.temp_form input[type="text"] {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 17px;
    border-radius: 30px;
}

::placeholder{
    color: #bfc1c8;
}

.temp_form input[type="submit"]{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #009ad8;
    padding: 0 30px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
}

.temp_form input[type="submit"]:hover{
    color: #009ad8;
    background-color: #fff;
}


/* temp details allow here */
.tempInformation{
    width: 450px;
    margin: auto;
    min-height: 200px;
    background-color: #323544;
    border-radius: 10px;
    /* padding: 10px; */
    font-family: "Roboto", sans-serif;
}

.top_layer{
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.top_layer p{
    color: #fff;
    font-weight: 300;
    margin-top: 10px;
    padding: 15px;
    font-size: 20;
}

.main_layer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main_layer #city_name{
    padding: 20px 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 20px;
}

.main_layer .middle_layer{
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.main_layer .middle_layer p,
.main_layer .middle_layer .fa{
    font-size: 70px;
    font-weight: 900;
}

.fa{
    color: #009ad8;
}


sup{
    font-size: 60px;
    margin-top: -20px;
}

.data_hide{
    visibility: hidden;
    transform: all 0.3sec leanear;
}


/* error img code */
.errimg img{
    width: 600px;
    height: 300px;
    margin-top: 100px;
}

/*footer code */
footer{
    width: 100%;
    background-color: var(--main-bg);
    margin: auto;
}
footer p{
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
}

/* responsive code */

@media (max-width:768px) {
    .main_header_left {
        height: auto;
        margin: 50px 3px;
    }
    .main_header_right{
        height: auto;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .temp_form{
        width: auto;
    }

    .tempInformation{
        width: auto;
    }

    .main_layer .middle_layer p,
    .main_layer .middle_layer .fa{
    font-size: 50px;
    font-weight: 900;
   }
}
